<%- include("../partials/header") %>

<h1>Edit Comment</h1>
<div class="container text-center pt-3">
  <form
    action="/campgrounds/<%= campground_id %>/comments/<%= foundComment._id %>?_method=PUT"
    method="POST"
  >
    <div class="form-group">
      <label for="exampleInputEmail1">Comment</label>
      <input
        type="text"
        name="comment[text]"
        value="<%= foundComment.text %>"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn btn-default btn-lg btn-block">
      Submit
    </button>
  </form>
</div>
<%- include("../partials/footer") %>
